:root{
  --orange:#EBB529;
}

body{
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  transition: .2s linear;
  font-family: 'roboto';
}

.nav-toggle{
  transform:translateX(-30rem);
}

a{
  text-decoration: none;
}

html{
  overflow-x: hidden;
}

.nav-toggle{
  transform:translateX(-30rem);
}

.submit-btn:hover{
  opacity: 1;
}

.form-container img{
  width: 7em;
}

/* header */
.menu{
  color: var(--orange);
  cursor: pointer;
  overflow: hidden;
  width: 2rem;
  padding-top: .2rem;
}

.menu img{
  width: 100%;
}

.navbar{
  height: 100vh;
  width: 30rem;
  position: fixed;
  top: 0;
  right: 0;
  background: #111;
  display: none;
  z-index: 888;
}

.navbar ul{
  display: flex;
  align-items: center;
  padding-top: 5rem;
  padding-left: 6rem;
  flex-flow: column;
  height: 100%;
  list-style: none;
}

.navbar ul li{
  margin-top: 3em;
  animation: fadeIn .2s linear backwards;
  animation-delay: calc(.3s*var(--i));
}

@keyframes fadeIn{
  0%{
    transform: translateY(-8rem);
    opacity: 0;
  }
}

.navbar ul li a{
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
}

.navbar ul li a:hover{
  color: var(--orange);
}

header{
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  max-width: 1200px;
  padding: 2rem 1.2rem 0 1.2rem;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 7rem;
}

.logo img{
  width: 100%;
}

@media screen and (min-width: 700px) {
  .logo{
    width: 10rem;
  }
  .navbar ul{
    padding-right: 6rem;
  }
  .navbar ul li a{
    font-size: 1.6rem;
  }
  .menu{
    width: 2.6rem;
  }
  .nav{
    padding: 2rem 1.6rem 0 1.6rem;
  }
}

@media screen and (min-width: 992px) {
 .logo{
    width: 14rem;
  }
  .menu{
    width: 3.2rem;
    padding-top: 1rem;
  }
  .nav{
    padding: 2rem 2rem 0 2rem;
  }
  .navbar ul li a{
    font-size: 1.8rem;
  }
  .navbar ul li{
    margin-top: 4.2rem;
  }
  .navbar ul{
    padding-top: 8rem;
  }
}


/* site */
.site{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.site-bg img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  width: 100%;
  display: block;
}

.site-bgtext{
  text-align: center;
  padding-top: 28rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(255, 255, 255,0));
}

.site-bgtext h1{
  font-size: 6rem;
}

.site-bgtext h3{
  font-size: 2.6rem;
  letter-spacing: 1px;
  padding: 1.2rem 0;
}

@media screen and (max-width:768px){
  .site-bgtext{
    padding-top: 22rem;
  }
  
  .site-bgtext h1{
    font-size: 4rem;
  }
  
  .site-bgtext h3{
    font-size: 2.4rem;
  }
}

@media screen and (max-width:640px){
  .site-bgtext{
    padding-top: 20rem;
  }
  
  .site-bgtext h1{
    font-size: 2.8rem;
  }
  
  .site-bgtext h3{
    font-size: 1.4rem;
  }
}


/* booking */
.booking{
  background: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* .bk-container{
  padding: 0 2.2rem;
} */

.input-group{
  margin-bottom: 1.6rem;
}

.input-label{
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

input,
.options{
  outline: none;
  border: none;
  width: 100%;
  min-height: 3.2rem;
  font-weight: bold;
  color: #333;
  letter-spacing: 1px;
  background: #e9e9e9;
}

.children{
  margin-bottom: 0;
}

.form-btn{
  cursor: pointer;
  outline: none;
  border: none;
  background: var(--orange);
  color: #fff;
  font-size: 1.4rem;
  width: 4rem;
  height: 4rem;
  margin-top: 1.6rem;
  border-radius: 50%;
}

.form-btn:hover{
  background: #fdd776;
}


@media screen and (min-width:1000px){
  .book-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .book-form .input-group{
    margin-bottom: 0;
  }

  .book-form .input-group:first-child{
    flex:  0 0 20%;
  }

  .input, .options{
    min-width: 11rem;
  }

}

@media screen and (min-width:1200px) {
  .book-form .input-group:first-child{
    flex:  0 0 30%;
  }
}

@media screen and (max-width:400px){
  .input-label{
    font-size: 1.1rem;
  }
  input,
  .options{
  min-height: 2.6rem;
  }
  .form-btn{
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
  }
}


/* news */
.news{
  background-image: url();
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: top;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.news-container{
  margin: 0 auto;
  max-width: 1200px;
}

.news-post{
  padding-top: 2rem;
}

.news-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 10px 15px rgba(0, 0, 0,.2);
  margin-bottom: 3rem;
}

.news-content img{
  object-fit: cover;
}

.news-title h3{
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.2rem;
}

.btn-news{
  padding: 0;
  background: var(--orange);
  margin: 0;
  outline: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: .5rem 1rem;
  margin: .6rem 0;
  cursor: pointer;
}

.news-content span{
  display: block;
  font-size: 1.1rem;
  padding: .8rem 0;
  color: rgb(66, 139, 202);
}

.owl-nav{
  text-align: center;
}

.owl-nav-prev,
.owl-nav-next{
  padding: 0 2rem;
  font-size: 1.8rem;
  color: rgb(129, 129, 129);
}


/* all */
.main-title,
.main-title-s{
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  color: #333;
  padding: .2em 0;
  width: 100%;
}

.main-title-s{
  font-size: 1.3rem;
  margin-top: 6em;
  padding: 0 2rem;
  box-sizing: border-box;
}

.main-title{
  font-size: 2.2rem;
  font-weight: bold;
  padding: 0 2rem;
  box-sizing: border-box;
}

@media screen and (max-width:400px){
  .main-title-s{
    font-size: 1rem;
  }
  
  .main-title{
    font-size: 1.6rem;
  }
}

.grid{
  max-width: 1200px;
  margin: 0 auto;
  columns: 3;
  column-gap: 40px;
}

.grid-item{
  width: 100%;
  margin:  0 0 20px;
  padding: 10px;
  background: #f2f2f2;
  overflow: hidden;
  break-inside: avoid;
}

.grid-item img{
  max-width: 100%;
}

.grid-item h2{
  margin: .6em 0 0 ;
  font-size: 1.3em;
  font-weight: bold;
}

.grid-item .place{
  margin: 0;
  padding: .8em 0;
  font-size: 1em;
  color: rgb(100, 100, 100);
}

.grid-item .price{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(66, 139, 202);
  padding: .4em 0;
}

.all-btn{
  padding: .5em 1em;
  border: 0;
  outline: 0;
  background: var(--orange);
  font-size: 1em;
  color: #fff;
  margin: .6em 0;
  cursor: pointer;
  display: block;
  margin-left: calc(50% - 56px);
}

@media screen and (max-width:1200px) {
  .grid{
    columns: 3;
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
}

@media screen and (max-width:768px) {
  .grid{
    columns: 2;
  }
}

@media screen and (max-width:480px) {
  .grid{
    columns: 1;
  }
}

.pagination{
 text-align: center;
 margin: 4em 0;
}

.pagination a{
  padding: .7em 1em;
  border-radius: 50%;
  color: #333;
  font-size: 1em;
  font-weight: bold;
  margin: 0 .3em;
}

.pagination .page{
  background: rgb(100, 100, 100);
  color: #fff;
}



/* footer */
.footer {
  margin: 0 auto;
  width: 80%;
  color: #333;
  max-width: 1200px;
}

.single-cta {
  margin-top: 1em;
  border-bottom: 1px solid #c2c2c2;
}

.location,
.phone,
.email{
  display: flex;
  margin-bottom: 1em;
}

.location i,
.phone i,
.email i {
  color: #EBB529;
  font-size: 2em;
}

.location span,
.phone span,
.email span {
  padding-left: 1em;
  display: inline-block;
  letter-spacing: .1em;
  margin-top: .6em;
}

.footer-block1 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-block2 {
  margin-top: 1.8em;
}

.footer-social-icon h3 {
  color: rgb(167, 167, 167);
  display: block;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 1em;
  position: relative;
}
.footer-left{
  width: 50%;
}

.footer-right{
  width: 50%;
}

.fab {
  font-size: 2em;
}

.fa-facebook{
  color: #0078ff;
  padding-right: .4em;
}

.fa-twitter{
  color: #08a0e9;
  padding-right: .4em;
}

.fa-instagram{
  width: 1em;
  height: 1em;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.footer-link-text h3 {
  color: rgb(167, 167, 167);
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  margin-top: 1.8em;
}

.footer-link-text h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #EBB529;
}

.footer-detail ul{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 100%;
  margin: 0 auto;
}

.footer-detail li {
  margin-bottom: 1em;
  font-size: 1em;
  color: #444;
  margin-left: .1em;
  margin-right: .1em;
  letter-spacing: .1em;
}

.footer-detail ul li a:hover{
  color: #EBB529;
}

.footer-detail ul li a {
  color: #444;
}

.footer-widget-tital h3 {
  color: rgb(167, 167, 167);
  font-size:1.2em;
  font-weight: 600;
  position: relative;
}

.footer-block2 span{
  width: 100%;
  height: 2em;
}

.subscribe-form {
  position: relative;
  width: 100%;
  margin-top: 1em;
}

.subscribe-form input {
  width: 100%;
  padding: 1em 2em;
  background: #ffffff;
  border: 1px solid #EBB529;
  color: #fff;
  box-sizing: border-box;
}

.subscribe-form button {
    position: absolute;
    right:0;
    background: none;
    padding: 14px 20px;
    border: 0;
    bottom: 0;
}

.subscribe-form button i {
  color: #EBB529;
  font-size: 1.2em;
  transform: rotate(-6deg);
}

.row{
  display: flex;
  flex-wrap: wrap;
}

#about h2 {
  padding: 30px 0;
  color: #428bca;
  position: relative;
  text-align: center;
  font-size: 1.2em;
  margin-top: 2em;
}

#about h2 span {
  background: #ffffff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

#about h2:before {
  background: #428bca;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

@media screen and (max-width:767px) {
  .footer-block2{
    display: none;
  }

  .footer-left-s{
    margin-top: 1.6em;
  }

  .footer-right-s{
    margin-top: 1.6em;
  }
}

@media screen and (min-width:768px) {
  .footer-left-s,
  .footer-right-s{
    display: none;
  }
}


/* copyright */
.copyright-text{
  padding-top: 2.2em;
  margin: 0 auto;
  width: 100%;
}

.copyright-text p {
  bottom: 0;
  font-size: .8em;
  color: #5c5c5c;
  text-align: center;
  background-color: #d6d6d6;
  padding: .3em 0;
}