html,body{
    font-family:"Noto Sans TC","Noto Sans", "sans-serif","Roboto";
}
input:focus {
    outline: none;
}
.menu{
    width: 100%;
}
.main_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255);
    height: 30px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.log_in_en{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    background-color: rgba(255, 255, 255);
    height: 30px;
    padding-top: 10px;
    padding-bottom: 8px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.log_in_en_block{

}
.log_in_text{
    font-size: 14px;
    text-decoration: none;
    color: rgb(40, 40, 40);
    padding: 0 12px;
}
.logo img{
    width: 160px;
}
.topic_text{
    color:  rgb(40, 40, 40);
    text-decoration: none;
    padding: 0 12px;
    font-size: 14px;
}
.search{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.search_box{
    width: 380px;
    height: 40px;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 20px;
    background-color: white;
    /* background-image: url("images/magnifier01.png");
    background-repeat: no-repeat; */
}
.magnifier{
    display: inline-flex;
    height: 38px;
    flex-wrap: wrap;
    position: absolute;
    top: 5px;
    right:0;
}
.magnifier img{
    width: 38px;
    color: gray;
} 
.popular_search{

}
.popular_item{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.popular_text{
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 12px;
    padding: 0 12px;
}

/* // */
.card_area{
    width: 100%;
}
.card_section {
    width: 100%;
    box-sizing: border-box; 
}
 
.card_area {
   background-color: #ffffff;
   display: flex;
   display: -webkit-flex;
   -webkit-justify-content: center;
   -webkit-align-items: center;
   justify-content: center;
   align-items: center;
}
 
.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 1200px;
    margin: auto;
}
 
.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url(../images/city/Hokkaido.png)
}
 
.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url(../images/city/roma.png);
}
.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url(../images/city/spain.png);
}
.card--4 .card__img, .card--4 .card__img--hover {
    background-image: url(../images/city/greece.png);
}
.card__clock {
    width: 15px;
    vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__img {
   visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
}
 
.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}
 
.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    top: 0;
}
.card {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 33.333333%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
 }
 
.card__info {
    z-index: 2;
    background-color: #fff;
    padding: 16px 24px 24px 24px;
}
 
.card__category {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}
.card__category img{
    width: 18px;
    border: 1px solid rgb(230, 230, 230);
} 

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: 0.6em;
}
 
.card__by {
    font-size: 12px;
    font-weight: 500;
}
 
.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}
 
.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}
 
.card:hover .card__info {
    background-color: transparent;
    position: relative;
}
 
.card:hover .card__info-hover {
    opacity: 1;
}





.loadingScreen{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
}
.content_box{
    width: 25%;
    margin: 0 10px;
    margin: auto;
}
.content_box:nth-child(1),.content_box:nth-child(3){
    margin-top:6vw;
}
.loading_title{
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 600;
}
.loading_text{
    margin-top: 0.8em;
    line-height: 1.2em;
}
.picture img{
    width: 100%;
}
.content_text{

}
.latest_news{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 42%;
    z-index: 10;
    text-align: center;
}
.news_text1,.news_text2{
    font-family: 'Rouge Script', cursive;
    font-size: 8em;
    display: inline;
    padding: 0 24px;
    color: #bf1826;
    
}
.news_text1{
    
}
.topic_select{
    width: 100%;
    background-color: black;
    /* display: flex;
    flex-wrap: wrap; */
    /* margin-top: 20vw; */
    height: 50vw;
    position: relative;
}
.select_title{
    color: white;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.select_choose{
    margin-top: 9vw;
    font-size: 5em;
    font-family: 'Rouge Script';
    
}
.select_choose::before{
    content: "Choose";
    color: #bf1826;
    font-size: 1.8em;
}
.select_choose_cn{
    font-size: 0.3em;
    margin-top: 2em;
    color: rgb(201, 201, 201);
    letter-spacing: 0.1em;
}
.select_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: -20%;
}
.select_box{
    width: 20%;
    margin: 0 20px;
    border: rgba(255, 255, 255, 0.1) 1px solid;
}
.select_bg{
    
}
.select_bg img{
    width: 100%;
}
.select_text{
    color: white;
    display: block;
    margin-top: -50%;
    padding: 20px;
}
.select_en{
    font-size: 1.5em;
    margin-bottom: 16px;
    line-height: 1.2em;
}
.select_cn{
    font-size: 1em;
}
.select_arrow{
    width: 50px;
    display:flex;
    flex-wrap: wrap;
    margin-left: 74%;
    margin-top: -16%;
}
.select_arrow img{
    width: 100%;
}
.select_enjoy{
    -webkit-writing-mode: vertical-lr;
    font-size: 1.2em;
    letter-spacing: 0.8em;
    margin-top: 1em;
    color: rgb(100, 100, 100);
}
.selsct_enjoy_first{
    -webkit-writing-mode: vertical-lr;
    font-size: 1.2em;
    margin-top: 16%;
    letter-spacing: 0.8em;
    color: rgb(100, 100, 100);
}
.blank1{
    width: 100%;
    max-width: 1200px;
    display:flex;
    justify-content: space-between;
    margin: auto;
}
.discuss_area{
    width: 100%;
}
.discuss_block{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
    position: relative;
}
#discussvideo{
    width: 50%;
    z-index: 13;
    margin-top: 50%;
}
.discuss_bg{
    width: 50%;
    height: 65%;
    background-color: rgb(240, 240, 240);
    z-index: 11;
    position: absolute;
    right: 0%;
    top: 40%;
    padding: 0 60px;
}
.discuss_text{
    font-size: 1.2em;
    margin-left: 20%;
    margin-top: 8%;
    line-height: 1.2em;
    color: rgb(80, 78, 78);
    letter-spacing: 0.1em;
    line-height: 1.6em;
}
.discuss_title{
    font-family: 'Rouge Script';
    color: #bf1826;
    font-size: 6.4em;
    margin-left: 40%;
    margin-top: 13%;
}
.discuss_arrow img{
    width: 10%;
    margin-left: 50%;
    margin-top: 20%;
}

.recommand{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 2%;
}
.recommand_text1::after{
    content:" tours" ;
    color: rgb(80, 78, 78);
    font-size: 0.8em;
}
.recommand_more{
    display: flex;
    justify-content: flex-end;
    color: blue;
    text-decoration: none;
}
/* // */
.flow {
    font-weight: 600;
    max-width: 1200px;
    /* padding: 2rem 1.5rem; */
    margin: 0 auto;
    color: #ffffff;
    background: #ffffff;
}
.popular_cities{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 2%;
}
.popular_text1,
.recommand_text1{
    font-size: 6.4rem;
    font-family: 'Rouge Script';
    color: #bf1826;
}
.popular_text1::after{
    content:" cities" ;
    color: rgb(80, 78, 78);
    font-size: 0.8em;
}
.popular_text2,
.recomand_text2{
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1em;
    color: rgb(100, 100, 100);
    letter-spacing: 0.1em;
    
}
.auto-grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size, 20rem), 1fr));
    grid-gap: var(--auto-grid-gap, 0);
    padding: 0;
}
  
.flow > * + * {
    margin-top: var(--flow-space, 1em);
}
  
.team {
    --flow-space: 2em;
}
  
.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    aspect-ratio: 1/1;
    position: relative;
    padding: 2rem;
    color: #ffffff;
    backface-visibility: hidden;
    text-decoration: none;
    overflow: hidden;
    margin: 10px 10px;
}
  
.profile::before,
.profile::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
  
.profile::before {
    background: linear-gradient(
      to top,
      hsl(0 0% 0% / 0.79) 0%,
      hsl(0 0% 0% / 0.787) 7.8%,
      hsl(0 0% 0% / 0.779) 14.4%,
      hsl(0 0% 0% / 0.765) 20.2%,
      hsl(0 0% 0% / 0.744) 25.3%,
      hsl(0 0% 0% / 0.717) 29.9%,
      hsl(0 0% 0% / 0.683) 34.3%,
      hsl(0 0% 0% / 0.641) 38.7%,
      hsl(0 0% 0% / 0.592) 43.3%,
      hsl(0 0% 0% / 0.534) 48.4%,
      hsl(0 0% 0% / 0.468) 54.1%,
      hsl(0 0% 0% / 0.393) 60.6%,
      hsl(0 0% 0% / 0.31) 68.3%,
      hsl(0 0% 0% / 0.216) 77.3%,
      hsl(0 0% 0% / 0.113) 87.7%,
      hsl(0 0% 0% / 0) 100%
    );
    transition: 300ms opacity linear;
    }
  
/* .profile::after {
    background: linear-gradient(
      45deg,
      #ebb529 0,
      #ffffff 100%
    );
    opacity: 0;
    transition: 300ms opacity linear;
} */
.profile > * {
    z-index: 1;
}
.profile img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: s1;
    object-fit: cover;
    filter: grayscale(1);
    transition: filter 200ms ease, transform 250ms linear;
}
  
.profile h3,
.profile p {
    transform: translateY(2ex);
    z-index: 10;
}
  
.profile h3 {
    font-size: 1.8rem;
    line-height: 4em;
    font-weight: 600;
    letter-spacing: 0.03ch;
    transition: 300ms transform ease;
    z-index: 10;
}
.profile p {
    opacity: 0;
    transition: 300ms opacity linear, 300ms transform ease-in-out;
    font-size: 1.2rem;
    font-weight: 600;
}
  
.profile:focus {
    outline: 0.5rem solid white;
    outline-offset: -0.5rem;
}
  
.profile:hover :is(h2, p),
.profile:focus :is(h2, p) {
    transform: none;
}
  
.profile:hover::after,
.profile:focus::after,
.profile:hover::before,
.profile:focus::before {
    opacity: 0.7;
}
  
.profile:hover p,
.profile:focus p {
    opacity: 1;
    transition-delay: 200ms;
}
  
.profile:hover img,
.profile:focus img {
    filter: grayscale(0);
    transform: scale(1.05);
}

.map_area{
    width: 100%;
    background-color: #EBB529;
    margin-top: 10%;
}
.map_block{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: auto;
    padding-bottom: 3%;
}
.map_pic{
    width: 50%;
}
.map_pic img{
    width: 100%;
}
.map_item{
    display: flex;
    flex-wrap: wrap;
}
.map_title{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 6em;
    font-family: 'Rouge Script';
    padding-top: 3%;
    margin-bottom: 3%;
}
.map_text{
    color: white;
    font-size: 1em;
    line-height: 1.6em;
    margin-left: 3%;
    margin-top: 12%;
}
.map_text_first{
    font-size: 1.3em;
    font-weight: 600;
}
.footer_area{
    width: 100%;
}
.footer_block{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
}
.footer_item{
    line-height: 2em;
    padding-bottom: 4%;
}
.footer_title{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10%;
    color: rgb(63, 63, 63);
}
.footer_text{
    text-decoration: none;
    color: rgb(73, 71, 71);
}
.footer_icon img{
    width: 12%;
}
.footer_secret{
    width: 100%;
    max-width: 1200px;
}
.footer_secret_text{
    margin-left: 50%;
    padding-bottom: 2%;
}